################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
tubesprovis/obj
tubesprovis/bin
*.ide-wal
*.cache
*.props
*.targets
*.json
*.ide-shm
