################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
tubesprovis/obj
tubesprovis/bin
*.ide-wal
*.cache
*.props
*.targets
*.json
*.assets.json
*.ide-shm
*.CoreCompileInputs.cache
*.csproj.nuget.cache
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
